<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetMobileESIR2"
        tools:targetApi="31">

        <activity android:name=".Bluetooth.BluetoothActivity" />

        <activity android:name=".Defis.GyroscopeActivity" />
        <activity android:name=".Defis.QuizChoixActivity" />
        <activity android:name=".Defis.ShakeActivity" />
        <activity android:name=".Defis.DevineMotActivity" />
        <activity android:name=".Defis.SnakeActivity"/>


        <activity android:name=".MainActivity" />
        <activity android:name=".Modes.SoloGameActivity" />
        <activity android:name=".Modes.MultiplayerGameActivity" />
        <activity android:name=".Modes.TrainingActivity" />

        <activity android:name=".SelectionDefiActivity"/>
        <activity android:name=".FinPartieActivity"/>
        <activity android:name=".SplashFinActivity"/>

        <activity android:name=".Modes.ResultatsActivity" />



        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>